{% extends 'layout.html' %}

{% block body %}
  <ul>
      {% for search_item in search_items.items %}
          <li>{{ search_item.name }}</li>
      {% endfor %}
  </ul>

  <ul class="pagination">
  {% for page in search_items.iter_pages() %}
    {% if page %}
      {% if term == None %}
        <li><a href="{{ url_for('search', page_num=page) }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ url_for('search', term=term, page_num=page) }}">{{ page }}</a></li>
      {% endif %}
    {% else %}
        <li><span class=ellipsis>…</span></li>
    {% endif %}
  {% endfor %}
  </ul>

{% endblock %}